---
// import { Image } from "astro:assets";
// import logo from '../../public/logo01.svg'
---

<div id="about" class="bg-white flex items-center justify-center min-h-[100vh]">
  <section class="max-w-4xl mx-auto my-auto px-6 py-20">
    <div class="flex justify-between items-start mb-20">
      <p
        class="text-3xl leading-snug font-normal"
        style="font-family: 'Dancing Script', cursive;"
      >
        ABOUT ME <br />
        Writing code that solves problems today and scales for tomorrow.
      </p>

      <!-- <Image
      src={logo}
      alt="Astro Logo"
      height='100' width='100'
    /> -->
    </div>

    <p class="text-zinc-600 leading-relaxed text-[1.05rem]">
      As a passionate software engineer, I thrive on the intricate dance between
      logic and creativity. Currently immersed in the dynamic world of Web, my
      expertise centers around Fullstack Development using languages like
      Typescript, Javascript and Python, where I seamlessly blend technology
      with innovation.
    </p>

    <!-- <p class="mt-10 text-zinc-500 text-sm w-full text-right">
    — Nov 15, 2025
  </p> -->

    <p class="mt-10 text-zinc-500 text-sm w-full text-right">— Nov 15, 2025</p>
  </section>
</div>
