@import "tailwindcss";

html{
    width: 100svw;
    overflow-x: hidden;
    font-family: 'Rajdhani', sans-serif;
}

html::-webkit-scrollbar {
  display: none;    /* Chrome and Safari  */
}

html{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}